<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script ser="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"> </script>
</head>
<body>
    <header>
      <div>
        <img src="/images/logo-mercado-liebre.svg" alt="">
      </div>
      <div>
        <form action="">
            <input type="text">
            <button>Buscar</button>
        </form>
      </div>
      <p>Comprar en cuotas y sin tarjeta crédito</p>
      <nav>
        <ul type="nome">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tienda oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul type="nome">
            <li><a href="">Crear tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        
        </ul>
      </nav>
    </header>
    <main>
        <section>
            <section>
               <article>
                  <div>
                     <img width="300" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                  </div>
                  <p>$6.770</p>
                  <p>40% OFF</p>
                  <h4>Cafetera Moulinex</h4>
               </article>
            </section>
        </section>
    </main>
    <footer>
         <h1><i class="fas fa-shopping-cart" ></i></h1>
    </footer>
</body>
</html>



imagen de la cafetera
$6.770
40% OFF
Cafetera Moulinex
imagen de MacBook
$230.000
20% off
MacBook Pro 2019
imagen del Samsung Galaxy
$70.500
10% off
Samsung Galaxy S10
imagen del SmartTv
$23.200
5% off
SmartTv Samsung 43"